.App-header {
  font-size: 76px;
  text-align: center;
  padding: 10px;
}

.App-footer {
  margin-top: 20px;
  font-size: 14px;
}

.App {
  display: grid;
  place-items: center;
  height: 100vh;
}

.App-container {
  text-align: left;
}
